@import "fontAwesome/font-awesome";
@import "iconColors";
.x-mask.splashscreen {
  background-color: white;
  opacity: 1;
}
.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
  font-size: 16px;
  font-weight: bold;
  padding: 30px 5px 5px 5px;
  border: none;
  background: {
    color: transparent;
    position: top center;
  };
}
.x-message-box .x-window-body .x-box-inner {
  min-height: 110px !important;
}
.x-splash-icon {
  background-image: url('images/app/logo.png') !important;
  margin-top: -90px;
  height: 130px;
  width: 150px;
}